In [93]:
#1. Con el archivo Summer-Olympic...csv, construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos
import numpy
import pandas

olympics = pandas.read_csv('Summer-Olympic-medals-1976-to-2008.csv')
olympics.Year = pandas.to_numeric(olympics.Year, downcast='integer') #Transformo el año a entero para luego poder convertir en dateTime
olympics.Year = pandas.to_datetime(olympics.Year, format='%Y') #Convierto a dateTime
df_olympics = pandas.DataFrame(olympics.values,index=olympics.Year)
df_olympics

,0,1,2,3,4,5,6,7,8,9,10
Year,,,,,,,,,,,
1976-01-01,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1976-01-01,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976-01-01,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976-01-01,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976-01-01,Montreal,1976-01-01,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
2008-01-01,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008-01-01,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008-01-01,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008-01-01,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008-01-01,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [94]:
#2. Separar nombres de apellidos en dos columnas distintas usando la coma como separador
olympics[['Lastname','Firstname']] = olympics.Athlete.str.split(',', 1,expand=True)
olympics = olympics.drop(columns='Athlete')
olympics

,City,Year,Sport,Discipline,Event,Gender,Country_Code,Country,Event_gender,Medal,Lastname,Firstname
0,Montreal,1976-01-01,Aquatics,Diving,3m springboard,Women,GDR,East Germany,W,Silver,K�HLER,Christa
1,Montreal,1976-01-01,Aquatics,Diving,3m springboard,Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976-01-01,Aquatics,Diving,3m springboard,Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976-01-01,Aquatics,Diving,3m springboard,Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976-01-01,Aquatics,Diving,10m platform,Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,Men,FRA,France,M,Bronze,GUENOT,Christophe
15429,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
15430,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,55 - 60kg,Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
15431,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,60 - 66kg,Men,FRA,France,M,Gold,GUENOT,Steeve
15432,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,96 - 120kg,Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

In [95]:
#3. Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?
print("El pais que gano mas medallas es:")
olympics.Country.mode()[0]

El pais que gano mas medallas es:

'United States'

In [98]:
#4. Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.
male_olympics = olympics.loc[olympics['Gender'] == 'Men'] #Keep only male athletes.
male_medals_by_year = male_olympics.Year.value_counts()
male_medals_by_year.rename_axis('Year').reset_index(name='Medals')

        Year  Medals
0 2000-01-01    1126
1 2008-01-01    1110
2 1992-01-01    1105
3 2004-01-01    1099
4 1996-01-01    1082
5 1988-01-01    1011
6 1984-01-01     973
7 1980-01-01     958
8 1976-01-01     924